body{
    font-size:17px;
    background-color:beige;
    background-image: url(SL-120722-54440-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

h2 {
    text-decoration:underline dashed;
    font-size: 28px;
    font-style: italic;
    font-weight:600;
    font-family:Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    color: darkred;
   
    border-color: darkcyan;
    border-width: 5px 15px;
    
}

h1 {
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
    text-align: center;
    text-shadow: 2px 2px 4px #aaa;
}   
/* 
.class1{
    color: darkred;
} */

ul{
    color: blueviolet;
}

#id1{
    color: darkgreen;
}

a:link {
    color: darkgreen;
    text-decoration: none;
}

a:visited {
    color: purple;
    text-decoration: none;
}

a:hover {
    color: darkred;
    font-size: 21px;
}

a:active {
    color: orange;
    text-decoration: underline;
}

#notict{
    font-size:20px;
    color:darkgreen;
}

.ckddd{
    font-weight:bold;
    color:darkred;
}


        .overflow{
       border: solid lightgray 5px;
       width: 300px;
       height: 200px;
       overflow: auto;
         background-color: lightyellow;
        }

.container {
    margin: 30px;
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: 200px;
    justify-content: space-between;
    align-items: start;

}
/* 
.child1{
   background-color: blueviolet;
   margin: 10px;
}
.child2{
    background-color: darkorange;
    margin: 10px;
}
.child3{
    background-color: teal;
    margin: 10px;
}
.child4{
    background-color: crimson;
    margin: 10px;
} */
 .container div {
    background-color:  lightcyan;
    width: 200px;
    height: 200px;
    font-size: 20px;
    font-weight: bolder 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

  #flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
 } 

 